.ldBar {
  position: relative;
}

.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
  margin-top: 22px;
}
.ldBar-label:after {
  content: "%DV";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}

.ldBar-label {
  font-family: 'varela round';
  font-size: 1em;
  font-weight: 500;
}

.ring {
  float:left; 
  text-align:left;
  position:relative;
}

.ring-text-container {
  display: block;
  text-align:left;
  margin-top:150px;
  height:100px;
}

.levels {
  text-align:left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: repeat(200px,auto);
  gap: 10px;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

.table-style {
  margin-top: 50px;
}