{% extends 'base.html' %} {% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} Submit Labs {% endblock %}
  </head>
  <body>
    <form name="form" method="post" action="{% url 'viewLabs' %}">
      <fieldset style="width: 0px">
        <br />
        <label for="potassium">Potassium Level:</label>
        <input type="number" name="potassium" id="potassium" />
        <br /><br />
        <label for="phosphate">Phosphate Level:</label>
        <input type="number" name="phosphate" id="phosphate" />
        <br /><br />
        <label for="creatinine">Creatinine Level:</label>
        <input type="number" name="creatinine" id="creatinine" />
        <br /><br />
        <label for="albumin">Albumin Level:</label>
        <input type="number" name="albumin" id="albumin" />
        <br /><br />
        <label for="blood_sugar">Blood Sugar Level:</label>
        <input type="number" name="blood" id="blood" />
        <br /><br />
        <label for="blood_pressure">Blood Pressure Level:</label>
        <input type="number" name="blood_pressure" id="blood_pressure" />
        <br /><br />
        <button type="submit">Submit Labs</button>
      </fieldset>
    </form>
    <body>
      {% endblock %}
    </body>
  </body>
</html>
