
<form>
    <label>Food Name:</label>
    <input type = 'text'>
    <br>
    <label>Brand Name:</label>
    <input type = 'text'>
    <br>
    <label>Serving Size:</label>
    <input type = 'text'>
    <br>
    <label>Serving Size Units:</label>
    <input type = 'text'>
    <br>
    <label>Protein Amount:</label>
    <input type = 'text'>g
    <br>
    <label>Sodium Amount:</label>
    <input type = 'text'>mg
    <br>
    <label>Phosphorus Amount:</label>
    <input type = 'text'>mg
    <br>
    <label>Potassium Amount:</label>
    <input type = 'text'>mg
    <br>
    <button class ="button-17" style = "margin-bottom: 40px" role="button" type='submit'>Save Custom Food</button>
</form>
