{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/rings.css' %}" rel="stylesheet" />
    <script src="{% static 'js/rings.js' %}"></script>

</head>
<body>

<br><br>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={%url 'daily' %} style="background-color: lightgrey;  border-radius: 15px;">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'monthly' %}>This Month</a>
        </li>
      </ul>
      <h1> Today's Dashboard </h1>
      <br>
    <div class="grid-container">
        <div>
            <div id="SodiumRing" class="lbBar label-center ring" data-stroke="green" data-stroke-width="6" data-preset="circle" data-value="0" ><h4 style="text-align:center;">Sodium</h4></div>
                <div class="ring-text-container">
                        <div class="levels">
                        <p>{{ currentSodiumLevel }}mg /{{ recommendedSodium }}mg</p>
                        <p id = 'sodiumRec'></p>
                        <a id="sodiumLink" href="{% url 'tips' %}#Sodium">Sodium Recommendations</a>
                    </div> 
                </div>
            </div>
        <div>
            <div id="ProteinRing" class="ldBar label-center ring" style="justify-self:center" data-stroke="pink" data-stroke-width="6" data-preset="circle" data-value="0"><h4 style="text-align:center;">Protein</h4></div>
                <div class="ring-text-container">
                    <div class="levels">
                        <p>{{ currentProteinLevel }}g /{{ recommendedProtein }}g</p>
                        <p id = 'proteinRec'></p>
                        <a id="proteinLink" href="{% url 'tips' %}#Protein">Protein Recommendations</a>
                    </div> 
                </div>
        </div>
        <div>
            <div id="WaterRing" class="ldBar label-center ring" data-stroke="#09f" data-stroke-width="6" data-preset="circle" data-value="0"><h4 style="text-align:center;">Water</h4></div>
                <div class="ring-text-container">
                    <div class="levels">
                        <p>{{ currentWaterLevel }}L /{{ recommendedWater }}L</p>
                        <p id = 'waterRec'></p>
                        <a id="waterLink" href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/tips-for-drinking-more-water" target="_blank" rel="noopener noreferrer">Tips for drinking more water</a>
                    </div> 
                </div>
            </div>
        <div>
            <div id="PotassiumRing" class="ldBar label-center ring" data-stroke="gold" data-stroke-width="6" data-preset="circle" data-value="0"><h4 style="text-align:center;">Potassium</h4></div>
                <div class="ring-text-container">
                    <div class="levels">
                        <p>{{ currentPotassiumLevel }}mg /{{ recommendedPotassium }}mg</p>
                        <p id = 'potassiumRec'></p>
                        <a id="potassiumLink" href="{% url 'tips' %}#Potassium">Potassium Recommendations</a>
                    </div>
                </div>
            </div>
        <div>
            <div id="PhosRing" class="ldBar label-center ring" data-stroke="purple" data-stroke-width="6" data-preset="circle" data-value="0"><h4 style="text-align:center;">Phosphorus</h4></div>
                <div class="ring-text-container">
                    <div class="levels">
                        <p>{{ currentPhosphorusLevel }}mg /{{ recommendedPhosphorus }}mg</p>
                        <p id = 'phosphorusRec'></p>
                        <a id="phosphorusLink" href="{% url 'tips' %}#Phosphorus">Phosphorus Recommendations</a>
                    </div>
                </div>
            </div>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
<div>
    
<h5>Today's Foods</h5>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Servings</th>
        <th scope="col">Sodium</th>
        <th scope="col">Protein</th>
        <th scope="col">Phosphorus</th>
        <th scope="col">Potassium</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
{% for food in foods %}
<tr>
    <td> {{ food.food_description}} </td>
    <td> {{ food.quantity}}</td>
    <td>{{food.sodium}}mg</td>
    <td>{{food.protein}}g</td>
    <td>{{food.potassium}}mg</td>
    <td>{{food.phosphorus}}mg</td>
    <td><a href="{% url 'editFoodHistoryView' id=food.id name=food.food_description quantity=food.quantity %}"><button class = "button-17" style="height: 30px; width: 60px;">Edit</button></a></td>
    <td><form action="{% url 'removeFoodHistory' %}" method='POST'>
        {% csrf_token %}
    <input type= 'hidden' value={{ food.id }} name='id'>
    <button type='submit' class = "button-17" style="height: 30px; width: 60px;">Delete</button>
    </form></td>
</tr>
{% endfor %}

</tbody>
</table>
    <div style = "display:inline; float: left; width: 49%;">
        <h5>Add Today's Foods</h5>
        <br>
        <div style='display: inline;'>
                <form action="{% url 'searchFoodQuery' %}">
                    <label> Search My Pantry </label>
                    <br>
                    <input name="query" type = 'text'>
                    <br> <br>
                    <button type ='submit' class = "button-17"> Search </button>
                </form>
      </div>
    </div>
    <div style = "display:inline; float: left; width: 49%;">
      <h5>Update Today's Water</h5>
      <br>
      <div style='display: inline;'>
              <form action="{% url 'updateWater' %}" method='POST'>
                {% csrf_token %}
                  <label> Enter water intake in liters:</label>
                  <br>
                  <input name="water" step='0.01' type = 'number' value={{ currentWaterLevel }}>
                  <br><br>
                  <button type ='submit' class = "button-17"> Submit </button>
              </form>
       </div>
    </div>

    <br><br>

</div>

      <br><br>
      <script>
          // sample values to test functionality
          //let sodiumPct = 50;
          //let proteinPct = 75;
          //let waterPctF = 99;
          //let kPct = 20;
          //let phosPct = 150;

          const sodiumMin = 1495;
          const sodiumMax = 2300;
          const protein = 0.6;
          const water = 3.7;
          const kMin = 2500;
          const kMax = 3000;
          const phosMin = 800;
          const phosMax = 1000;

          //var mySodium = 2500;
          //var myProtein = .6;
          //var myWater = {{ currentWaterLevel }};
          //var myK = 2700;
          //var myPhos = 700;

          // calculate current percentage
           var sodiumPct = {{ currentSodiumPercentage }};
           var proteinPct = {{ currentProteinPercentage }};
           var waterPct= {{ currentWaterPercentage }};
           var kPct = {{ currentPotassiumPercentage }};
           var phosPct = {{ currentPhosphorusPercentage }};

           //console.log(sodiumPct);

          // scripts to write the load bars
          var sodiumBar = new ldBar("#SodiumRing");
          var bar1 = document.getElementById('SodiumRing').ldBar;
          sodiumBar.set(sodiumPct);
  
          var proteinBar = new ldBar("#ProteinRing");
          var bar2 = document.getElementById('ProteinRing').ldBar;
          proteinBar.set(proteinPct);
  
          var waterBar = new ldBar("#WaterRing");
          var bar3 = document.getElementById('WaterRing').ldBar;
          waterBar.set(waterPct);
  
          var kBar = new ldBar("#PotassiumRing");
          var bar4 = document.getElementById('PotassiumRing').ldBar;
          kBar.set(kPct);
  
          var phosBar = new ldBar("#PhosRing");
          var bar5 = document.getElementById('PhosRing').ldBar;
          phosBar.set(phosPct);
          
      </script>
<script>
          // Constants for daily recommended amounts

  
          // // input variables for user data
          // let mySodium = parseInt(document.getElementById("SodiumValue").innerHTML);
          // let myProtein = parseInt(document.getElementById("ProteinValue").innerHTML);
          // let myWater = parseInt(document.getElementById("WaterValue").innerHTML);
          // let myK = parseInt(document.getElementById("PotassiumValue").innerHTML);
          // let myPhos = parseInt(document.getElementById("PhosValue").innerHTML);
          // let gender = '';
  

    console.log({{ currentWaterLevel}})

  
          // Sodium
          // Default to show nothing
          if ({{ currentSodiumLevel }} == 0) {
            document.getElementById("sodiumRec").innerHTML = "";
            document.getElementById("sodiumLink").style.display = "none";
          }
          else if ({{ currentSodiumLevel }} < sodiumMin) {
              document.getElementById("sodiumRec").innerHTML = "Your sodium levels are a little low for today. Try to get some more to get within a healthy range";
              document.getElementById("sodiumRec").style.color = "gold";
              document.getElementById("sodiumLink").style.display = "block";
          }
          else if ({{ currentSodiumLevel }} > sodiumMax) {
              document.getElementById("sodiumRec").innerHTML ="Oops! Your sodium intake is above the recommended range. Try to limit sodium for the rest of the day and tomorrow";
              document.getElementById("sodiumRec").style.color = "#C21807"; 
              document.getElementById("sodiumLink").style.display = "block";
          }
          else if ({{ currentSodiumLevel }} > sodiumMin && {{ currentSodiumLevel }} < sodiumMax) {
              document.getElementById("sodiumRec").innerHTML = "Nice! Keep your sodium between 1495-2300mg to stay in range for today";
              document.getElementById("sodiumRec").style.color = "#3BB143"; 
              document.getElementById("sodiumLink").style.display = "none";
          }
  
          // Protein
          if ({{ currentProteinLevel }} == 0) {
            document.getElementById("proteinRec").innerHTML = "";
            document.getElementById("proteinLink").style.display = "none";
          }
          else if ({{ currentProteinLevel }} < {{recommendedProtein}}) {
              document.getElementById("proteinRec").innerHTML= "Keep it up! Try to get a little more protein today";
              document.getElementById("proteinRec").style.color = "gold";
              document.getElementById("proteinLink").style.display = "block";
          }
          else if ({{ currentProteinLevel }} > {{recommendedProtein}}) {
              document.getElementById("proteinRec").innerHTML = "Uh oh! Your protein intake is a little high for today. Try to limit protein for the rest of the day and tomorrow";
              document.getElementById("proteinRec").style.color = "#C21807"; 
              document.getElementById("proteinLink").style.display = "block";
          }
          else {
              document.getElementById("proteinRec").innerHTML ="Good eating! Your protein level is exactly where it should be for today!";
              document.getElementById("proteinRec").style.color = "#3BB143"; 
              document.getElementById("proteinLink").style.display = "none";
          }
  
          // Water
          if ({{ currentWaterLevel }} == 0) {
            document.getElementById("waterRec").innerHTML = "";
            document.getElementById("waterLink").style.display = "none";
          }
          else if ({{ currentWaterLevel }} < {{recommendedWater}}) {
              document.getElementById("waterRec").innerHTML ="Keep drinking! More water will help your kidneys!";
              document.getElementById("waterRec").style.color = "gold";
              document.getElementById("waterLink").style.display = "block";
          }
          else if ({{ currentWaterLevel }} > {{recommendedWater}}) {
              document.getElementById("waterRec").innerHTML="Careful! Your water intake is a little high for today.";
              document.getElementById("waterRec").style.color = "#C21807"; 
              document.getElementById("waterLink").style.display = "block";
          }
          else {
              document.getElementById("waterRec").innerHTML="Great job! You've had just enough water for today";
              document.getElementById("waterRec").style.color = "#3BB143"; 
              document.getElementById("waterLink").style.display = "none";
          }
      
          // Potassium
          if ({{ currentPotassiumLevel }} == 0) {
            document.getElementById("potassiumRec").innerHTML = "";
            document.getElementById("potassiumLink").style.display = "none";
          }
          else if ({{ currentPotassiumLevel }}  < kMin) {
              document.getElementById("potassiumRec").innerHTML = "Looks like your potassium is a little low. Try to get some more today to get it to a healthy range!";
              document.getElementById("potassiumRec").style.color = "gold";
              document.getElementById("potassiumLink").style.display = "block";
          } 
          else if ({{ currentPotassiumLevel }}  > kMax) {
              document.getElementById("potassiumRec").innerHTML = "Careful! Your potassium levels are high for today. Try to limit potassium for the rest of the day and tomorrow";
              document.getElementById("potassiumRec").style.color = "#C21807"; 
              document.getElementById("potassiumLink").style.display = "block";
          }
          else if ({{ currentPotassiumLevel }}  > kMin && {{ currentPotassiumLevel }}  < kMax) {
              document.getElementById("potassiumRec").innerHTML = "Well done! Your potassium is within the healthy range";
              document.getElementById("potassiumRec").style.color = "#3BB143"; 
              document.getElementById("potassiumLink").style.display = "none";
          }
  
          // Phosphorus
          if ({{ currentPhosphorusLevel }} == 0) {
            document.getElementById("phosphorusRec").innerHTML = "";
            document.getElementById("phosphorusLink").style.display = "none";
          }
          else if ({{ currentPhosphorusLevel }}  < phosMin) {
              document.getElementById("phosphorusRec").innerHTML = "Try to get a little more phosphorus today to get to a healthy range!";
              document.getElementById("phosphorusRec").style.color = "gold";
              document.getElementById("phosphorusLink").style.display = "block";
          } 
          else if ({{ currentPhosphorusLevel }}  > phosMax) {
              document.getElementById("phosphorusRec").innerHTML = "Hmm, looks like you had a little too much phosphorus today. Try to limit phosphorus for the rest of today and tomorrow";
              document.getElementById("phosphorusRec").style.color = "#C21807"; 
              document.getElementById("phosphorusLink").style.display = "block";
          }
          else if ({{ currentPhosphorusLevel }}  > phosMin && {{ currentPhosphorusLevel }} < phosMax) {
              document.getElementById("phosphorusRec").innerHTML = "Look at you! Great job keeping phosphorus in a healthy range";
              document.getElementById("phosphorusRec").style.color = "#3BB143"; 
              document.getElementById("phosphorusLink").style.display = "none";
          } 
      </script>

<body>
    
{% endblock %}