{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 <br><br>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={%url 'daily' %}>Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'monthly' %}>This Month</a>
        </li>
      </ul>

<h1> daily </h1>
<body>
    
{% endblock %}