{% extends 'base.html' %} {% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} Delete My Account{% endblock %}
  </head>
  <div style="margin: auto; text-align: center; padding-top: 40px">
  <body>
    <h2 style="margin: 5px; text-align: center">
      You are about to delete your account. Are you sure you wish to proceed?
    </h2>
    <a href={% url 'deleteUser' %}>
      <button class="button-17" style="margin: 10px; text-align: center; color: red;">
      Yes, Delete
      </button>
    </a>
    <a href={% url 'userInfo' %}>
        <button class="button-17" style="margin: 10px; text-align:center; color: green;">No, Go Back</button>
      </a>
    <br /><br />
    </div>
    <body>
      {% endblock %}
    </body>
  </body>
</html>
