{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet" />
    <script src="{% static 'js/calendar.js' %}"></script>
</head>
<body style='margin:0px !important;'>
  <br>
  <br>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={%url 'daily' %}>Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href={%url 'monthly' %} style="background-color: lightgrey; border-radius: 15px;">This Month</a>
        </li>
      </ul>
    <h1> Monthly </h1>

    <div id='calendar'></div>
<body>

{% endblock %}