{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<h5>My Pantry Results</h5>
{% if foods|length == 0 %}
    <p>There are no foods in your pantry that match that search. Try adding it to your pantry first.</p>
    <br>
    <a href="{% url 'apiSearch' %}"> <button class = "button-17"> Add Food to Pantry </button></a>
{% else %}
    <form action="{% url 'addFoodEntry' %}" method='POST'>
        {% csrf_token %}
        {% for food in foods %}
            <input type = 'radio' name='food' value={{ food.id }}>
            {% if food.brand_name != '' and food.serving_size_unit != '' %}
                <label>{{food.food_description}} {{food.brand_name}}</label>
                <ul> 1 Serving = {{ food.serving_size }}{{ food.serving_size_unit }} </ul>
            {% else %}
                <label>{{food.food_description}} {{food.brand_name}}</label>
                <ul> 1 Serving = Unknown</ul>
            {% endif %}
        <br>
        {% endfor %}
        <label>How many servings?</label>
        <input type = 'number' step="0.01" name='quantity'>
        <br>
        <button type ='submit' class = "button-17"> Add to Daily Entry <button>
    </form>
{% endif %}
{% endblock %}


