{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <br>
    <form action="{% url 'searchFoodQuery'%}">
            <label> Search Food Name: </label>
            <br>
            <input name="query" type ='text'>
            <button class="button-17" role="button" type='submit'>Search</button>
        <form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </body>
{% endblock %}

