{% extends 'base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
</head>
<body>
    <div class="grid-container">
        <div class="container">
            <h1>Recipes & Guides</h1>
            <p>Need help finding kidney-friendly recipes? Here are some good resources:</p>
            <ul><a href="https://www.davita.com/diet-nutrition/recipes" target="_blank" rel="noopener noreferrer">Davita</a></ul>
            <ul><a href="https://www.kidney.org/recipes-search?field_recipe_diets%5B%5D=43051&field_recipe_meal_type%5B%5D=43065" target="_blank" rel="noopener noreferrer">National Kidney Foundation</a></ul>
            <ul><a href="https://www.davita.com/diet-nutrition/eating-out-guides" target="_blank" rel="noopener noreferrer">Eating Out Guide</a></ul>
        </div>
        <div class="container">
            <h1><a href="https://www.kidney.org/atoz/content/ckd-diet-how-much-protein-right-amount" target="_blank" rel="noopener noreferrer">Reducing Protein</a></h1>
            <ul>
                <p> Eat small portions of protein-rich foods. Recommended amounts are as follows:</p>
                <ul> <p>Meat / poultry: 2-3 oz</p> </ul>
                <ul> <p>Dairy: ½ cup milk/yogurt, 1 slice cheese</p> </ul>
                <ul> <p>Beans: ½ cup cooked</p> </ul>
                <ul> <p>Nuts: ¼ cup</p> </ul>
                <ul> <p>Grains: ½ cup cooked</p> </ul>
            </ul>
        </div>
        <div class="container">
            <h1><a href="https://www.kidney.org/atoz/content/sodiumckd" target="_blank" rel="noopener noreferrer">Sodium</a></h1>
            <div class="row">
                <ul>
                    <p>Foods high in sodium</p>
                    <ul> <p>Seasoning salts</p> </ul>
                    <ul> <p>Sauces (i.e. barbecue, teriyaki, soy)</p> </ul>
                    <ul> <p>Cured meats (i.e. ham, bacon)</p> </ul>
                    <ul> <p>Lunch Meats</p> </ul>
                    <ul> <p>Salted Snacks (i.e. chips, pretzels, popcorn)</p> </ul>
                </ul>
                <ul>
                    <p>Foods low in sodium</p>
                    <ul> <p>Fresh herbs</p> </ul>
                    <ul> <p>Fresh meats</p> </ul>
                    <ul> <p>Fresh vegtables</p> </ul>
                    <ul> <p>Canned and fresh fruits</p> </ul>
                    <ul> <p>Homemade meals</p> </ul>
                </ul>
            </div>
        </div>
        <div class="container">
            <h1><a href="https://www.kidney.org/atoz/content/phosphorus" target="_blank" rel="noopener noreferrer">Phosphorus</a></h1>
            <div class="row">
                <ul>
                    <p>Foods low in phosphorus</p>
                    <ul> <p>Fresh fruits and veggies</p> </ul>
                    <ul> <p>Breads, pastas, rice</p> </ul>
                    <ul> <p>Rice milk (not enriched)</p> </ul>
                    <ul> <p>Corn or rice cereals</p> </ul>
                    <ul> <p>Light-colored sodas</p> </ul>
                </ul>
                <ul>
                    <p>Foods high in phosphorus</p>
                    <ul> <p>Meat, poultry, fish</p> </ul>
                    <ul> <p>Bran and oatmeal</p> </ul>
                    <ul> <p>Dairy foods</p> </ul>
                    <ul> <p>Beans, lentils, nuts</p> </ul>
                    <ul> <p>Dark-colored sodas, fruit punch</p> </ul>
                </ul>
            </div>
        </div>
        <div class="container">
            <h1><a href="https://www.kidney.org/atoz/content/potassium" target="_blank" rel="noopener noreferrer">Potassium</a></h1>
            <div class="row">
                <ul>
                    <p>Foods low in potassium</p>
                    <ul> <p>Apples, peaches</p> </ul>
                    <ul> <p>Carrots, green beans</p> </ul>
                    <ul> <p>White bread and pasta</p> </ul>
                    <ul> <p>White rice</p> </ul>
                    <ul> <p>Rice milk (not enriched)</p> </ul>
                    <ul> <p>Cooked rice, wheat cereals</p> </ul>
                    <ul> <p>Apple, grape, cranberry juice</p> </ul>
                </ul>
                <ul>
                    <p>Foods high in potassium</p>
                    <ul> <p>Oranges, bananas, orange juice</p> </ul>
                    <ul> <p>Potatoes, tomatoes</p> </ul>
                    <ul> <p>Brown and wild rice</p> </ul>
                    <ul> <p>Bran cereals</p> </ul>
                    <ul> <p>Dairy products</p> </ul>
                    <ul> <p>Whole wheat breads and pasta</p> </ul>
                    <ul> <p>Beans and Nuts</p> </ul>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <p>These suggestions are given by the National Institute of Diabetes and Digestive and Kidney Diseases</p>
        <a href="https://www.niddk.nih.gov/health-information/kidney-disease/chronic-kidney-disease-ckd/eating-nutrition" target="_blank" rel="noopener noreferrer">More information on these recommendations</a>
        <br>
    </div>
</body>
</html>

{% endblock %}