{% extends 'base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
</head>
<body>
    <div>
        <p>These suggestions are given by the National Institute of Diabetes and Digestive and Kidney Diseases</p>

    </div>
    <div class="grid-container">
        <div class="container">
        {% comment %} <div style = "float: left; width: 49%;"> {% endcomment %}
            <h1>Sodium</h1>

            <ul>
                <p>Foods low in sodium</p>
                <ul> <p>Seasoning salts</p> </ul>
                <ul> <p>Sauces (i.e. barbecue, teryaki, soy)</p> </ul>
                <ul> <p>Cured meats (i.e. ham, bacon)</p> </ul>
                <ul> <p>Lunch Meats</p> </ul>
                <ul> <p>Salted Snacks (i.e. chips, pretzels, popcorn)</p> </ul>
            </ul>

            <ul>
                <p>Foods high in sodium</p>
                <ul> <p>Oranges, bananas</p> </ul>
                <ul> <p>Potatoes, tomatoes</p> </ul>
                <ul> <p>Brown and wild rice</p> </ul>
                <ul> <p>Dairy foods</p> </ul>
                <ul> <p>Whole wheat breads and pasta</p> </ul>
            </ul>
        </div>

        <div class="container">
        {% comment %} <div style = "float: left; width: 49%;"> {% endcomment %}

            <h1>Reducing Protein</h1>

            <ul>
                <p> Eat small portions of protein-rich foods. Recommended amounts are as follows</p>
                <ul> <p>Meat / poultry: 2-3 oz</p> </ul>
                <ul> <p>Dairy: ½ cup milk/yogurt, 1 slice cheese</p> </ul>
                <ul> <p>Beans: ½ cup cooked</p> </ul>
                <ul> <p>Nuts: ¼ cup</p> </ul>
                <ul> <p>Grains: ½ cup cooked</p> </ul>
            </ul>
        
        </div>
    </div>

    <div>
        <div class="container">
        {% comment %} <div style = "float: left; width: 49%;"> {% endcomment %}

            <h1>Phosphorus</h1>

            <ul>
                <p>Foods low in phosphorus</p>
                <ul> <p>Fresh fruits and veggies</p> </ul>
                <ul> <p>Breads, pastas, rice</p> </ul>
                <ul> <p>Corn or rice cereals</p> </ul>
                <ul> <p>Light-colored sodas</p> </ul>
            </ul>

            <ul>
                <p>Foods high in phosphorus</p>
                <ul> <p>Meat, poultry, fish</p> </ul>
                <ul> <p>Bran and oatmeal</p> </ul>
                <ul> <p>Dairy foods</p> </ul>
                <ul> <p>Beans, lentils, nuts</p> </ul>
                <ul> <p>Dark-colored sodas</p> </ul>
            </ul>
        
        </div>

        <div class="container">
        {% comment %} <div style = "float: left; width: 49%;"> {% endcomment %}
        
            <h1>Potassium</h1>

            <ul>
                <p>Foods low in potassium</p>
                <ul> <p>Apples, peaches</p> </ul>
                <ul> <p>Carrots, green beans</p> </ul>
                <ul> <p>White bread and pasta</p> </ul>
                <ul> <p>White rice</p> </ul>
                <ul> <p>Cooked rice, wheat cereals</p> </ul>
                <ul> <p>Apple, grape, cranberry juice</p> </ul>
            </ul>

            <ul>
                <p>Foods high in potassium</p>
                <ul> <p>Oranges, bananas</p> </ul>
                <ul> <p>Potatoes, tomatoes</p> </ul>
                <ul> <p>Brown and wild rice</p> </ul>
                <ul> <p>Dairy foods</p> </ul>
                <ul> <p>Whole wheat breads and pasta</p> </ul>
            </ul>

        </div>
    </div>

</body>
</html>

{% endblock %}