{% extends 'base.html' %} {% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} view labs{% endblock %}
  </head>
  <div class="border p-3 shadow">
    <h4>Add Data</h4>
    <hr />
    <form method="POST">
      {% csrf_token %} {{ form }}
      <input class="btn btn-success btn-block" type="submit" value="Add" />
    </form>
  </div>
  <body>
    <canvas id="myChart" width="800" height="450"></canvas>
    <script>
      const ctx = document.getElementById("myChart").getContext("2d");
      const myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: [{% for data in data %} '{{data.lab_date}}', {% endfor %}],
          datasets: [
            {
              label: "Serum Level Trends",
              data: [{% for data in data %} {{data.potassium_level}}, {% endfor %}],
              borderColor: "rgba(54, 162, 235, 0.2)",
              pointBackgroundColor: "rgba(54, 162, 235, 1)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  min: 0,
                },
              },
            ],
          },
        },
      });
    </script>
    <body>
      {% endblock %}
    </body>
  </body>
  <script>
    document.getElementById("id_user_ID").style.display = "none";
    var datetime = document.getElementById("id_lab_date");
    datetime.setAttribute("type", "datetime-local");
  </script>
</html>
